/* styles.css */
.calendar-container {
  text-align: center;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin: 20px;
}

.calendar-button {
  border: none;
  background: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.info-container {
  margin-top: 20px;
}

.weather-info,
.event-info {
  margin-bottom: 20px;
}

